.common-container {
    padding: 0.3% 2%;
    margin-bottom: 2%;
  }
  
  .common-containerLine { 
    width: 100%; box-shadow: 0px 3px 7px #DBFA5F; border-radius: 50px; border: 2px #8CD000 solid; 
    height: auto; min-height: 330px;
    padding: 1% 2% 50px 2%;
    display: flex;
    flex-direction: column; 
  }