
:root {
  --main-content-width: min(1240px, 95vw);
  --main-content-padding: 2%;
}


.common-container {
  padding: 1% calc((100% - var(--main-content-width)) / 2);
  margin-bottom: 2%;
  /* max-width: 1240px; */
  width: 100%;
  min-height: 100vh; /* 최소 높이를 뷰포트 높이로 설정 */
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.common-container-line {
  width: 100%;
  max-width: var(--main-content-width);
  align-items: center;
  border-radius: 50px;
  border: 2px #96d138 solid;
  min-height: 50vh; /* 최소 높이 설정 */
  padding: var(--main-content-padding);
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* 남은 공간을 채우도록 설정 */
  overflow: hidden; /* 이 줄을 추가합니다 */
}



/* 반응형 디자인을 위한 미디어 쿼리 */
