

.title {
  color: black;
  font-size: 50px;
  font-family: MangoByeolbyeol;
  font-weight: 400;
  word-wrap: keep-all;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.2;
  text-align: center;
}

.sub-title {
  color: #1e1e1e;
  font-size: 30px;
  font-family: Ownglyph meetme;
  font-weight: 400;
  word-wrap: keep-all;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.2;
  text-align: center;
}

.all-programs {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
  color: black;
  font-size: 25px;
  font-family: Pretendard;
  font-weight: 400;
  word-wrap: keep-all;
  display: flex;
  flex-wrap: wrap; /* 버튼이 넘칠 경우 줄바꿈 */
  justify-content: center; /* 버튼들을 중앙 정렬 */
}

/* 버튼 비활성화 상태 */
.filters button {
  margin-right: 10px;
  margin-bottom: 10px; /* 세로 정렬 시 버튼 간 간격 */
  padding: 5px 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  border: 2px #c0ea6a solid;
  white-space: nowrap; /* 버튼 내 텍스트를 한 줄로 유지 */
  overflow: hidden;
  max-width: 100%; /* 부모 컨테이너를 넘지 않도록 */
}

/* 비활성화 | '교육프로그램' 글자수 가로길이 조정 */
.filters button.education-program {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  cursor: pointer;
  width: auto; /* 내용에 맞게 너비 조정 */
  height: 100%;
  border-radius: 20px;
  border: 2px #c0ea6a solid;
  white-space: nowrap;
  flex-shrink: 0;
}

/* 버튼 활성화 상태 */
.filters button.active {
  background-color: #92c925;
  color: white;
  width: auto; /* 내용에 맞게 너비 조정 */
  height: 100%;
  border-radius: 20px;
  border: 2px #c0ea6a solid;
}

/* 활성화 | '교육프로그램' 글자수 가로길이 조정 */
.filters button.active.education-program {
  background-color: #8fd600;
  color: white;
  width: auto; /* 내용에 맞게 너비 조정 */
  height: 100%;
  border-radius: 20px;
  border: 2px #c0ea6a solid;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2em;
  color: #5498ff;
}

.error {
  color: rgb(105, 24, 24);
  text-align: center;
  padding: 20px;
}

.list-in-column {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);  */
  /* 2개의 열로 변경 */
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1040px; /* 두 카드의 너비(500px * 2) + 간격(20px) */
  margin: 0 auto; /* 중앙 정렬 */
}

.list-card {
  display: flex;
  padding: 3%;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 8px 3px rgba(136.62, 202.94, 0.85, 0.3);
}


.img-area {
  flex: 0 30 220px; /* 이미지 영역의 크기를 고정 */
  height: 120px;
  background: #e2e2e2;
  border-radius: 10px;
  left: -70px;
  top: -25px;
  margin-right: 20px; /* 이미지와 텍스트 사이의 간격 */
}

.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-info-box {
  flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
}

.content-info {
  padding: 10px;
}

.content-title {
  color: #1e1e1e;
  font-size: 20px; /* 글자 크기를 조금 줄임 */
  font-family: Pretendard-Bold;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 5px; /* 제목 아래 여백 추가 */
  /* 추가 및 수정된 속성 */
  word-break: keep-all; /* 단어 단위로 줄바꿈 */
  overflow-wrap: break-word; /* 긴 단어의 경우 줄바꿈 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄로 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* 넘치는 텍스트에 대해 말줄임표 표시 */
  max-height: 2.4em; /* 대략 2줄의 높이 */
  line-height: 1.2; /* 줄 간격 설정 */
}

.content-location,
.content-date {
  color: #1e1e1e;
  font-size: 14px; /* 글자 크기를 조금 줄임 */
  font-family: Pretendard-Regular;
  font-weight: 400;
  line-height: 1.2; /* 줄 간격 조정 */
  word-wrap: break-word;
  margin-bottom: 3px; /* 각 항목 사이 여백 추가 */
}

.status {
  position: static; /* 절대 위치에서 일반 위치로 변경 */
  display: inline-block; /* 인라인 블록으로 변경 */
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 5px; /* 상태 위 여백 추가 */
}

.status.접수중 {
  background-color: #4caf50;
  color: white;
}

.status.접수종료 {
  background-color: #f44336;
  color: white;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px; /* 원하는 크기로 조정 */
  height: 20px; /* 원하는 크기로 조정 */
}

.heart-icon {
  transition: transform 0.2s ease;
}

.like-button:hover .heart-icon {
  transform: scale(1.1);
}

/* 아이패드 가로 크기까지는 2열 유지 */
@media (max-width: 2048px) {
  .list-in-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1024px 이하에서 1열로 변경 */
@media (max-width: 1024px) {
  .list-in-column {
    grid-template-columns: 1fr;
  }
  
  .list-card {
    max-width: 100%;
  }
  .title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 24px;
  }
}

/* 미디어 쿼리를 사용하여 작은 화면에서 폰트 크기와 패딩을 조절 */
@media (max-width: 750px) {
  .filters {
    flex-direction: column; /* 세로 정렬 */
  }

  .filters button,
  .filters button.education-program,
  .filters button.active,
  .filters button.active.education-program {
    margin-right: 0;
    font-size: 16px;
  }
  .title {
    font-size: 32px;
  }
  .sub-title {
    font-size: 20px;
  }
}

/* 작은 화면에서의 추가 조정 */
@media (max-width: 480px) {
  .list-card {
    flex-direction: column;
    align-items: stretch;
  }

  .img-area {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .content-info-box {
    width: 100%;
  }
}