.content-detail-container {

}
.content-detail-warpper {

}



.contents-detail {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.service-name {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-family: MangoByeolbyeol;
}

.content-wrapper {
  display: flex;
  gap: 20px;
}

.image-container {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 #d8d4d4;
}

.detail-img-area {
  /* width: 100%;
  height: auto; */
  width: 600px;
  height: 350px;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  min-width: 80px;
  text-align-last: left;
}

.value {
  flex: 1;
  text-align-last: left;
}

.description {
  margin-top: 20px;
}

.description h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.direction-button {
  margin: 5px;
  padding: 8px;
  background: #ffffff;
  border: none;
  box-shadow: 0 3px 3px 0 #cdd1cd;
  border-radius: 5px;
  cursor: pointer;
}

.review-section {
  margin-top: 20px;
  
}
.review-write {
  font-family: Ownglyph meetme !important;
}

.review-section textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  font-family: Mango Ddobak;
}

.info-item-btn {
  position: relative;
  top: 20%;
}

.reservation-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a9da49;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.reservation-button:hover {
  background-color: #3b96eb;
}

.action-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.map-button,
.like-button,
.bookmark-button {
  margin: 5px;
  padding: 8px;
  background: #ffffff;
  border: none;
  box-shadow: 0 3px 3px 0 #cdd1cd;
  border-radius: 5px;
  cursor: pointer;
}
