.common-container {
  padding: 20px 30px 20px 30px;
}
.common-containerLine {
  width: 100%;
  border-radius: 50px;
  border: 2px #8cd000 solid;
  height: auto;
  min-height: 330px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.bodyBar {
  margin: 0 20% 2% 20%;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.input-wrapper {
  position: relative;
}


.title-wrapper {
  flex: 3;
  margin-right: 15px;
}

.author-wrapper {
  flex: 1;
}

.input-wrapper + .input-wrapper {
  margin-left: 20px;
}

.input-label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #555555;
  font-size: 14px;
  pointer-events: none;
}

textarea + .input-label {
  top: 15px;
  transform: none;
}

input,
textarea {
  width: 100%;
  padding: 10px 15px 10px 70px;
  border: 2px #555555 solid;
  border-radius: 20px;
  box-shadow: 0px 3px 7px #555555;
  font-size: 15px;
  background: white;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}

.component-title {
  color: #707070;
  font-size: 70px;
  font-family: MangoByeolbyeol;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 20px;
}

#title {
  width: 100%;
  height: 50px;
  background: white;
  box-shadow: 0px 3px 7px #c4c4c4;
  border-radius: 20px;
  border: 3px #ffffff solid;
}

#author {
  width: 100%;
  height: 50px;
  background: white;
  box-shadow: 0px 3px 7px #c4c4c4;
  border-radius: 20px;
  border: 3px #ffffff solid;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #666;
}

input[type="text"],
textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px #8cd000 solid;
  border-radius: 20px;
  box-shadow: 0px 3px 7px #b3e000;
  font-size: 15px;
  background: white;
}

.content-wrapper {
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
  height: 350px;
  resize: vertical;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 120px;
  /* 오른쪽에 아이콘을 위한 공간 확보 */
  box-shadow: 0px 3px 7px #c4c4c4;
  border-radius: 20px;
  border: 3px #ffffff solid;
}

.image-upload-area {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload-text {
  color: #555555;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.imageUpIcon {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 100px;
  height: auto;
  opacity: 0.3;
  border: 1px solid #555555;
  cursor: pointer;
  z-index: 1;
  /* textarea 위에 표시되도록 */
}

.file-size {
  position: absolute;
  top: 130px;
  opacity: 50%;
}

.upload-image {
  position: absolute;
  top: 520px;
  right: 70px;
  width: 100px;
  height: auto;
  opacity: 0.3;
  border: 1px solid #555555;
  cursor: pointer;
  z-index: 1;
  /* textarea 위에 표시되도록 */
}

.preview-container {
  position: relative;
  display: inline-block;
}

.remove-preview {
  top: 15px;
  right: 5px;
  background-color: rgba(221, 136, 136, 0.7);
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  position: relative;
}

#submit {
  width: 200px;
  height: 50px;
  background: #707070;
  box-shadow: 0px 3px 7px #c4c4c4;
  border-radius: 20px;
  border: 3px #ffffff solid;
  color: white;
  font-size: 20px;
  font-family: Mango Ddobak;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
  cursor: pointer;
  /* 마우스 커서를 포인터로 변경 */
  transition: background-color 0.2s ease;
  /* 부드러운 색상 전환 효과 */
}

#submit:hover {
  background: #8cd000;
}

@media (max-width: 768px) {
  .input-row {
    flex-direction: column;
  }

  .title-wrapper,
  .author-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
