
.list-container {
  width: 100%;
}
.list-warpper {
  padding: 0 3%;
}



/* 검색기능 */
.search-container {
  padding: 0 22%; /* 패딩 조정 */
  margin-bottom: 20px; /* 아래 여백 추가 */

}
.search-form {
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.search-box {
  display: flex;
  padding: 3px;
  width: 550px;
  height: 60px;
  background: white;
  border-radius: 20px;
  flex-grow: 1;
  align-items: left;
  padding: 0 15px; /* 내부 패딩 추가 */
}
.search {
  border: none;
  outline: none; /* 포커스 시 기본 테두리 제거 */
  background: transparent; /* 배경을 투명하게 설정 */
  font-family: Mango Ddobak; /* 폰트 일관성을 위해 추가 */
  font-size: 15px; /* 적절한 폰트 크기 설정 */
  color: #242424; /* 텍스트 색상 설정 */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* 옅은 회색 그림자 추가 */

}
.search::placeholder {
  color: #999;
  margin-left: 10px;
}
.search-btn-box {
  flex-shrink: 0;
  align-items: right;
  border: none;
  outline: none; /* 포커스 시 기본 테두리 제거 */
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px; /* 아이콘과 텍스트 사이 간격 */
}
.search-btn {
  width: 140px;
  height: 50px;
  color: white;
  font-family: Mango Ddobak;
  font-size: 20px;
  background:  #90ce2d;
  box-shadow: 0px 3px 5px #dbfa5f;
  border-radius: 15px;
  border: 2px  #90ce2d solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




/* 글쓰기 버튼 */
.post {
  margin-left: auto;
}

.goToPost {
  color: #90ce2d;
  font-size: 20px;
  font-family: Mango Ddobak;
  font-weight: 400;
  white-space: nowrap;
}


/* 필터 */
.filter-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 25%;
  margin-top: 3%;
  margin-bottom: 10px;
  width: 100%;
  
}
.filter-Bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-Text {
  display: flex;
  color: rgba(0, 0, 0, 0.7);
  font-family: Mango Ddobak;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}



/* 리스트 목록 */
.list-main-container {
  width: 100%;
  margin-bottom: 2%;
}

.list-line {
  width: 100%;
  box-shadow: 0px 3px 5px rgba(120, 120, 120, 0.3);
  border-radius: 20px;
  border: 2px #90ce2d solid;
  min-height: 330px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.list-title-bar {
  display: flex;
  padding: 0 10px 0 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  color: black;
  font-family: Mango Ddobak;
  font-size: 20px;
  background: white;
  box-shadow: 0px 3px 5px rgba(120, 120, 120, 0.3);
  border-radius: 10px;
  margin-bottom: 10px; /* 각 항목 사이에 간격 추가 */
  text-decoration: none !important;
}

.list-title-bar a {
  text-decoration: none;
  color: inherit;
}

.list-title {
  text-decoration: none;
  color: #242424;
  font-family: Mango Ddobak;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.post-title h3 {
  text-decoration: none !important;
  color: #242424;
  font-family: Mango Ddobak;
  font-size: 18px;
  flex-grow: 1;
  text-align: left;
  /* 왼쪽 정렬 */
}


.list-ediNdelNcount {
  display: flex;

}

.post-view-count, .post-author {
  display: flex;
  margin-right: 20px;
  font-size: 14px !important;
  align-items: center;
  color: #999;
  
}

.list-Edit,
.list-Delete {
  text-decoration: none;
  color: white;
  font-family: Mango Ddobak;
  font-size: 14px !important;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 10px;
  width: 50px; /* 버튼 너비 동일하게 설정 */
  height: 30px; /* 버튼 높이 설정 */
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  word-break: keep-all;
}

.list-Edit {
  font-size: 15px !important;
  background-color: #e0e3f0;
  border: 1px solid #e0e3f0;
}
.list-Delete {
  background-color: #ff7878;
  border: 1px solid #ff7878;
}

.list-Edit:hover,
.list-Delete:hover {
  opacity: 0.8;
}















/* 아이패드 가로 크기에 대응하는 미디어 쿼리 */
@media (max-width: 2048px) {
  .filter-Container {
    padding: 0 25%;
  }
  
}

/* 중간 크기 화면에 대한 대응 */
@media (max-width: 1024px) {

  .list-warpper {
    padding: 0 3%;
  }
  
  .search-container {
    padding: 0 5%; /* 패딩 조정 */
    margin-bottom: 20px; /* 아래 여백 추가 */
  
  }
  .search-form {
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .search-box {
    width: 70%;
  }

  .filter-Container {
    padding: 0 15%;
    align-items: center;
  }

  .filter-Bar {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-Text, .goToPost {
    font-size: 20px;
  }

  .goToPost {
    align-items: center;
    margin-top: 10px;
  }
  .list-main-container {
    padding: 0 5% 20px 5%;
  }
}


@media (max-width: 1024px) {
  .common-container-Line {
    justify-content: center;
  }
  .list-warpper {
    padding: 0 0.5%;
  }
  
  .search-container {
    padding: 0 5%; /* 패딩 조정 */
    margin-bottom: 20px; /* 아래 여백 추가 */
    flex-direction: column;
  
  }
  .search-form {
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .search-box {
    width: 70%;
  }

  .filter-Container {
    padding: 0 15%;
    align-items: center;
    flex-direction: column;
  }

  .filter-Bar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .filter-Text, .goToPost {
    font-size: 20px;
  }

  .goToPost {
    align-items: center;
    margin-top: 10px;
  }
  .list-main-container {
    padding: 0 5% 20px 5%;
  }
}
/* 더 작은 화면에 대한 추가 대응 */
@media (max-width: 800px) {
  .list-warpper {
    padding: 0 1%;
  }
  .filter-Container {
    flex-direction: column;
    align-items: center;
  }

  .filter-Bar {
    flex-direction: column;
    align-items: center;
  }

  .goToPost {
    align-self: center;
    margin-right: 0;
    margin-top: 10px;
  }
  .list-ediNdelNcount {
    display: flex;
  }
  
  .post-view-count{
    font-size: 10px;
    align-items: center;
  }

  .list-Edit, .list-Delete {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px !important;
    padding: 0.5% 2%;
    border-radius: 7px;
    margin: 0%;
    width: 35px; /* 버튼 너비 동일하게 설정 */
    height: 25px; /* 버튼 높이 설정 */
  }
}

/* 매우 작은 화면에 대한 대응 */
@media (max-width: 480px) {


  .filter-Bar {
    flex-direction: column;
    align-items: center;
    
    
  }

  .filter-Text, .goToPost {
    font-size: 20px;
  }
}
